@keyframes showName {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    font-family: "Lato", sans-serif;
}

body,
html {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

p {
    font-size: 10pt;
    color: rgb(150, 150, 150);
}

input,
input:focus,
button {
    border: none;
    outline: none;
    background: none;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: flex;
    position: relative;
    width: 48%;
    height: 100%;
}

.output {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.map {
    position: relative;
    height: 60vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output img {
    height: 100%;
    position: absolute;
    z-index: 50;
}

.output h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 150;
    color: white;
    letter-spacing: 5px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
    animation: showName 0.5s;
}

.output .state {
    z-index: 100;
}

.input {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.input p {
    width: 50%;
}

.input_form {
    display: flex;
    position: relative;
    border-radius: 5px;
    border: 2px solid rgb(200, 200, 200);
    overflow: hidden;
    height: 50px;
}

.textInput {
    height: 100%;
    padding-left: 20px;
    font-size: 15pt;
}

.submit {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.submit,
.submit:active,
.submit:focus {
    border-left: 2px solid rgb(200, 200, 200);
    height: 100%;
    padding: 20px;
    line-height: 100%;
    color: rgb(150, 150, 150);
}

.submit:focus {
}

.submit:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
}

.legend {
    position: absolute;
    width: 5px;
    height: 300px;
    background: rgb(243, 201, 102);
    background: -moz-linear-gradient(0deg, rgba(243, 201, 102, 1) 0%, rgba(48, 171, 160, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(243, 201, 102, 1) 0%, rgba(48, 171, 160, 1) 100%);
    background: linear-gradient(0deg, rgba(243, 201, 102, 1) 0%, rgba(48, 171, 160, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3c966",endColorstr="#30aba0",GradientType=1);
    z-index:200;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    left:-50px;
    align-items: center;
    animation: showName 0.5s;
}

.legend p{
    text-align: center;
    margin-left:40px;
}


#prop{
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
